{erl_opts, [debug_info,
            {parse_transform, niffy_transform},
            {niffy_options, [{compiler, "gcc"},
                             % Make sure the flags work for you, I use these on MacOS
                             {flags, ["-Werror", "-flat_namespace", "-undefined suppress",
                                      "-I/usr/local/Cellar/erlang/19.0.2/lib/erlang/erts-8.0.2/include"]}]}]}.
{deps, [{niffy, {git, "git@github.com:inaka/niffy.git"}}]}.